
@{
    ViewBag.Title = "Index";
}
<script src="~/js/home/home.js"></script>
<h2>Index</h2>

<div class="container-fluid">
    <section class="row">
        <hr />
        <div class="col-md-12 col-md-offset-*">
            <div class="row">
                <table id="tbemail" class="table table-hover ">
                    <thead>
                        <tr>
                            <th>
                                Id
                            </th>
                            <th>
                                Success
                            </th>
                            <th>
                                DateTime
                            </th>
                            <th>
                                Message
                            </th>
                            <th>
                                From
                            </th>
                            <th>
                                To
                            </th>
                            <th>
                                Body
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </section>
</div>
